<script async src="https://www.googletagmanager.com/gtag/js?id=G-FMM2NDJYQF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    window.dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'G-FMM2NDJYQF');
</script>

<div class="body">
    <!--SE AGREGA EL HEADER-->
    <div class="header_component">
        <app-header></app-header>
    </div>
    <br>
    <div class="row">
        <div class="title_page">
            <h3>Entonces, ¿En dónde quieres entrenar?</h3>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
        </div>
        <div class="col-sm-7">
            <div class="row" style="width: 100%;">  
                <div class="d-flex justify-content-center" style="text-align: left;">
                    <mat-form-field appearance="outline" class="inputs_css">
                        <input type="text"  [(ngModel)]="palabraClave" (input)="filtrarSucursales()" matInput placeholder="Busca tu Olimpus más cercano." autocomplete="off" autofocus="">
                        <mat-icon matSuffix>place</mat-icon>
                    </mat-form-field>
                    <br>
                    <br>
                    <br>
                </div>
            </div>            
        </div>
    </div>
    <div class="content_page">
        <div class="margin_page">
            <div class="row">
                <div class="col-sm-12">
                    <div *ngFor="let sucursal of displayedGimnasios" >
                        <div class="item_x">
                            <div class="content_img_item">
                                <img src="../../../assets/img/sucs-img/suc1.jpeg" alt="img_sucursal" class="img_item">
                            </div>
                            <div>
                                <h3 class="txt_title">{{sucursal.nombreGym}}</h3>
                            </div>
                            <div>
                                <p class="txt_addr">{{sucursal.direccion}}</p>
                            </div>
                            <div class="content_link_item">
                                <a routerLink="../sucursal"  routerLink="../sucursal/{{sucursal.idGimnasio}}/{{sucursal.nombreGym}}">Más detalles</a>
                            </div>
                            <br>
                            <div class="content_pack_item">
                                <p class="txt_palnes" style="text-align: center;">Inscríbete</p>
                            </div>
                            <div class="grid_plan_item">
                                <div class="h1_plan_item" *ngFor="let membresia of sucursal.membresias.slice(0, 3)">
                                   <p><label class="txt_plan_name">{{membresia.titulo}}</label></p> 
                                   <p><label class="txt_new_price">{{"$" + " " + membresia.precio}}</label></p>
                                </div>
                            </div>
                            <div class="content_btn_buy">
                                <button routerLink="/membresias/{{ sucursal.idGimnasio}}/{{sucursal.nombreGym}}" type="submit" class="btn_int" mat-raised-button style="background: #FD9727; color: white;bottom: 30px; left: 50%; transform: translateX(-50%);">
                                    ¡Inscribete ya!</button>
                            </div>
                        </div>
                    </div>
                </div>

           
                <div class="row">
                    <div class="col-sm-12">
                        <div  #loadMoreMarker></div>
                        <button (click)="loadMoreGimnasios()" class="vermas" style="margin-top: 100px;" *ngIf="hasMoreRecords">Ver más gimnasios</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <!--SE AGREGA EL FOOTER-->
    <div class="footer_component">
        <app-footer></app-footer>
    </div>
</div>
