<div class="body">
    <div class="header_component">
        <app-header></app-header>
    </div>

    <br>
    <br>
    <!--<app-timeline [currentStep]="currentStep"></app-timeline>-->
    <div >
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12">
                    <div class="col-md-10 container border-container">
                        <div *ngFor="let gym of gimnasio">
                            <h2 style="font-weight: bold; font-style: italic;">Olimpus<span style="color: orange; font-weight: bold; font-style: italic;">GYM:</span> {{ gym.nombreBodega }}</h2>
                            
                            <label>{{gym.direccion}}</label>
                        </div>
                        <hr>
                        <div *ngFor="let item of membresia">
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>Nombre de la membresía:</h6>
                                    <br>
                                    <h6>Detalles de la membresia:</h6>
                                    <br>
                                    <h6>Duración de la membresia:</h6>
                                    <br>
                                    <h6>Importe a pagar: </h6>
                                </div>
                                <div class="col-md-6">
                                    <h6><strong>{{item.titulo}}</strong></h6>
                                    <br>
                                    <h6><strong>{{item.detalles}}</strong></h6>
                                    <br>
                                    <h6><strong>{{item.duracion}}</strong></h6>
                                    <br>
                                    <h6><strong>{{item.precio}}</strong></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

        <div class="col-md-6">
            <form [formGroup]="form" (ngSubmit)="registrar()">
                <div class="col-sm-12">
                    <div>
                        
                        <h3 style="margin-top:15px">Regístrate</h3>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6"> 
                        <div>
                            <p>
                                <mat-form-field appearance="outline" class="inputs_properties">
                                    <mat-label>Nombre</mat-label>
                                    <input type="text" matInput placeholder="Nombre" autocomplete="off" formControlName="nombreU">
                                    <mat-error *ngIf="form.get('nombreU')?.hasError('pattern') && !form.get('nombreU')?.hasError('required')">
                                        <strong class="txt_msg">**Formato no valido, (solo letras)...</strong>
                                    </mat-error>
                                    <mat-error *ngIf="form.get('nombreU')?.hasError('required')"><strong class="txt_msg">**Campo requerido</strong></mat-error>
                                </mat-form-field>
                            </p>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div>
                            <p>
                                <mat-form-field appearance="outline" class="inputs_properties">
                                    <mat-label>Apellido paterno</mat-label>
                                    <input type="text" matInput placeholder="Apellido paterno" autocomplete="off" formControlName="apPaterno">
                                    <mat-error *ngIf="form.get('apPaterno')?.hasError('pattern') && !form.get('apPaterno')?.hasError('required')">
                                        <strong class="txt_msg">**Formato no valido, (solo letras)...</strong>
                                    </mat-error>
                                    <mat-error *ngIf="form.get('apPaterno')?.hasError('required')"><strong class="txt_msg">**Campo requerido</strong></mat-error>
                                </mat-form-field>
                            </p>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            <p>
                                <mat-form-field appearance="outline" class="inputs_properties">
                                    <mat-label>Apellido materno</mat-label>
                                    <input type="text" matInput placeholder="Apellido materno" autocomplete="off" formControlName="apMaterno">
                                    <mat-error *ngIf="form.get('apMaterno')?.hasError('pattern') && !form.get('apMaterno')?.hasError('required')">
                                        <strong class="txt_msg">**Formato no valido, (solo letras)...</strong>
                                    </mat-error>
                                    <mat-error *ngIf="form.get('apMaterno')?.hasError('required')"><strong class="txt_msg">**Campo requerido</strong></mat-error>
                                </mat-form-field>
                            </p>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div>
                            <p>
                                <mat-form-field appearance="outline" class="inputs_properties">
                                    <mat-label>Telefono</mat-label>
                                    <input type="text" matInput placeholder="Telefono" autocomplete="off" minlength="7" maxlength="10" formControlName="fon">
                                    <mat-error *ngIf="form.get('fon')?.hasError('pattern') && !form.get('fon')?.hasError('required')">
                                        <strong class="txt_msg">**Formato no valido, (solo números)...</strong>
                                    </mat-error>
                                    <mat-error *ngIf="form.get('fon')?.hasError('required')"><strong class="txt_msg">**Campo requerido</strong></mat-error>
                                </mat-form-field>
                            </p>
                        </div>


                    </div>
                </div>



                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            <p>
                                <mat-form-field appearance="outline" class="inputs_properties">
                                    <mat-label>Fecha de nacimiento</mat-label>
                                    <input type="date" matInput autocomplete="off" formControlName="fechaNacimiento">
                                    <mat-error *ngIf="form.get('fechaNacimiento')?.hasError('pattern') && !form.get('fechaNacimiento')?.hasError('required')">
                                        <strong class="txt_msg">**Formato de fecha no valido, (DD/MM/YYYY)...</strong>
                                    </mat-error>
                                    <mat-error *ngIf="form.get('fechaNacimiento')?.hasError('required')"><strong class="txt_msg">**Campo requerido</strong></mat-error>
                                </mat-form-field>
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div>
                            <p>
                                <mat-form-field appearance="outline" class="inputs_properties">
                                    <mat-label>Dirección</mat-label>
                                    <input type="text" matInput placeholder="Dirección" autocomplete="off" formControlName="direccion">
                                </mat-form-field>
                            </p>
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-sm-6">
                        <div>
                            <p>
                                <mat-form-field appearance="outline" class="inputs_properties">
                                    <mat-label>Correo</mat-label>
                                    <input type="text" placeholder="Correo" matInput autocomplete="off" formControlName="email">
                                    <mat-error *ngIf="form.get('email')?.hasError('pattern') && !form.get('email')?.hasError('required')">
                                        <strong class="txt_msg">**Formato de correo no valido...</strong>
                                    </mat-error>
                                    <mat-error *ngIf="form.get('email')?.hasError('required')"><strong class="txt_msg">**Campo requerido</strong></mat-error>
                                </mat-form-field>
                            </p>
                        </div>

                    </div>

                    <div class="col-sm-6">
                        <div>
                            <p>
                                <mat-form-field appearance="outline" class="inputs_properties">
                                    <mat-label>Contraseña</mat-label>
                                    <input matInput matInput [type]="hide ? 'password' : 'text'" placeholder="Asignar contraseña" formControlName="pass">
                                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error *ngIf="form.get('pass')?.hasError('minlength') && !form.get('pass')?.hasError('required')">
                                        <strong class="txt_msg">**Minimo 8 carácteres...</strong>
                                    </mat-error>
                                    <mat-error *ngIf="form.get('pass')?.hasError('required')"><strong class="txt_msg">**Campo requerido</strong></mat-error>
                                </mat-form-field>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row d-flex align-items-center justify-content-center">
                    <button type="submit" class="btn_int" mat-raised-button style="background: #FD9727; color: white;">
                        Continuar
                    </button>
                </div>


            </form>
        </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="footer_component">
        <app-footer></app-footer>
    </div>

</div>